/* Dark Theme für E-Sport-Team */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a0a; /* dunkler Hintergrund */
    color: #ffffff;           /* weißer Text */
    text-align: center;
}

header {
    background-color: #1f1f1f;
    padding: 50px 0;
}

header h1 {
    color: #ff0055; /* Teamfarbe (Pink) */
    font-size: 50px;
    margin: 0;
}

section {
    padding: 40px 20px;
}

footer {
    background-color: #111111;
    padding: 20px 0;
    font-size: 14px;
    color: #888888;
}
